@use 'sass:map';

.form {
  // --form-shadow-color: #{$shadow-color};
  // --form-shadow-spread: #{shadow-spread};
  // --form-line-height-ratio: 1.5;

  // // form field styles
  // --form-field-font-size: #{rem(22)};
  // --form-field-padding-x: #{rem(12)};
  // --form-field-padding-y: #{rem(16)};
  // --form-field-margin-bottom: #{rem(24)};
  // --form-field-height: #{rem(28)};

  // --form-field-background-color: #{$field-background};
  // --form-field-text-color: #{$field-text-color};
  // --form-field-placeholder-text-color: #{$field-placeholder-text-color};
  // --form-field-border-color: #{$field-border-color};
  // --form-field-border-width: #{$field-border-width};
  // --form-field-border-style: #{$field-border-style};
  // --form-field-border-radius: #{$field-border-radius};
  // --form-field-border-color-focus: #{$field-border-color-focus};

  // form label styles
  // --form-label-text-color: #eeeeee;
  --form-label-font-size: #{rem(20)};

  --form-label-height: 2rem;

  // // Form Alert styles
  // --form-error-color: #ea3e3e;
  // --form-success-color: #44ea3e;

  // Disabled styles
  // --form-disabled-text-color: #9f9f9f;
  // --form-disabled-border-color: #a8a8a8;
  // --form-disabled-placeholder-color: #808183;

  // Message
  // --form-message-background-color: #444444cd;
  // --form-message-border-color: #dddddd;
  // --form-message-text-color: #eeeeee;
  --form-message-font-size: #{rem(20)};
  --form-message-padding-y: #{rem(8)};
  --form-message-padding-x: #{rem(16)};
  --form-message-border-width: 0;
  --form-message-border-style: solid;
  --form-message-border-radius: 4px;

  // --- Field specific vars --- //

  // Type Radio
  --form-radio-btn-width: #{rem(40)};
  --form-radio-btn-height: #{rem(40)};
  --form-radio-btn-border-radius: 50%;
  // Type Checkbox
  --form-checkbox-btn-width: #{rem(36)};
  --form-checkbox-btn-height: #{rem(36)};
  --form-checkbox-btn-border-radius: 4px;

  @each $key, $value in $form-color-vars-dark-and-light {
    &--dark {
      --form-#{$key}: #{map.get($value, 'dark')};
    }
    &--light {
      --form-#{$key}: #{map.get($value, 'light')};
    }
  }

  @each $key, $value in $form-display-vars {
    --form-#{$key}: #{$value};
  }

  --form-field-line-height: calc(
    var(--form-field-font-size) * var(--form-line-height-ratio)
  );

  --form-label-line-height: calc(
    var(--form-label-font-size) * var(--form-line-height-ratio)
  );

  --form-message-line-height: calc(
    var(--form-message-font-size) * var(--form-line-height-ratio)
  );
}
