@import '../react/node_modules/@plake492/t_css_utils/src/index.scss';

@import './abstract/mixins';

@import './components/';

:root {
  --form-container-width: #{rem(780)};
  --form-gutter-width: #{$space-md};
}

body {
  --bg-color: #8ba4b1;
  --text-color: #ededed;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  --border-color: var(--bg-violet-40);
  border: var(--border-color) solid 3px;
  padding: $space-sm $space-xl;
  background-color: unset;
  border-radius: $border-radius-pill;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  @extend .text-md;
  position: relative;

  &:hover {
    --border-color: var(--bg-violet-80);

    @extend .box-shadow;
    @extend .shadow-violet;
    @extend .shadow-4;
    transform: translate(-2px, -2px);
  }
  &:active {
    --border-color: var(--bg-violet-60);

    @extend .box-shadow;
    @extend .shadow-violet;
    @extend .shadow-1;
    transform: translate(0, 0);
  }

  &:disabled {
    --border-color: var(--bg-grey-40);
  }
}

.fade-transition {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 1s;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 1s;
  }
}
