.checkbox {
  --checkbox-width: 30px;
  --checkbox-border-radius: 8px;
  --checkbox-background-color: var(--bg-color);
  --checkbox-border-color: var(--bg-violet-30);
  --checkbox-error-color: hsl(0, 56%, 47%);
  --checkbox-success-color: hsl(108, 55%, 47%);
  --checkbox-text-color: hsl(0, 0%, 87%);
  --checkbox-label-color: hsl(0, 0%, 87%);
  --checkbox-placeholder-color: hsl(0, 0%, 60%);
  --checkbox-message-color: var(--checkbox-text-color);
  --checkbox-border-width: 3px;
  --checkbox-padding-y: #{calc($space-xs)};
  --checkbox-padding-x: #{$space-md};
  --checkbox-label-font-size: #{rem(14)};
  --checkbox-field-font-size: #{rem(18)};
  --checkbox-message-font-size: #{rem(14)};
  --checkbox-line-hight-ratio: 1.75;
  --checkbox-checked-opacity: 0;

  position: relative;
  margin-bottom: $space-md;
  display: flex;
  align-items: start;
  gap: $space-sm;

  &.block {
    width: 100%;
  }

  &.success {
    --input-border-color: var(--input-success-color);
  }

  &.error {
    --checkbox-border-color: var(--checkbox-error-color);
  }

  &.disabled {
    --checkbox-border-color: var(--bg-grey-60);
    --checkbox-text-color: hsl(0, 0%, 57%);
  }

  &__field-wrapper {
    position: relative;
    width: var(--checkbox-width);
    height: var(--checkbox-width);
  }

  &__field {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: var(--checkbox-width);
    height: var(--checkbox-width);
    z-index: 1;

    &:focus {
      + .checkbox__box {
        --checkbox-border-color: var(--bg-violet-60);
        // TODO Move these to local props
        @extend .box-shadow;
        @extend .shadow-1;
        @extend .shadow-white;
      }
    }

    &:checked {
      + .checkbox__box {
        --checkbox-checked-opacity: 1;
        background-color: black;
        transition: background-color 300ms ease-in-out;
      }
    }
  }

  &__box {
    position: absolute;
    width: var(--checkbox-width);
    height: var(--checkbox-width);
    border: var(--checkbox-border-color) 3px solid;
    border-radius: var(--checkbox-border-radius);
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(var(--checkbox-width) / 2);
      height: calc(var(--checkbox-width) / 2);
      background-color: var(--bg-green-30);
      border-radius: 50%;
      opacity: var(--checkbox-checked-opacity);
      z-index: 3;
      transition: opacity 300ms ease-in-out;
    }
  }

  &__label {
    position: relative;
    margin-right: var(--checkbox-width);
    width: fit-content;
    color: var(--checkbox-text-color);
  }
}
