.form {
  --form-field-margin-bottom: #{rem(8)};
  --form-field-font-size: #{rem(16)};
  --form-field-line-height: #{rem(20)};
  --form-field-padding-x: #{rem(8)};
  --form-field-padding-y: #{rem(16)};

  --form-field-background-color: #444444;
  --form-field-text-color: #eeeeee;
  --form-field-placeholder-text-color: #ddddddaa;

  --form-field-border-color: #dddddd;
  --form-field-border-width: 1px;
  --form-field-border-style: solid;
  --form-field-border-radius: 4px;

  --form-field-border-color-focus: #ffffff;

  --form-label-font-size: #{rem(20)};
  --form-label-line-height: #{rem(24)};
  --form-label-height: 2rem;

  --form-field-shadow-color: #dddddd33;
  --form-field-shadow-focus: 0rem 0rem 0.5rem 0.125rem
    var(--form-field-shadow-color);

  --form-error-color: #ea3e3e;
  --form-success-color: #44ea3e;

  --form-disabled-text-color: #9f9f9f;
  --form-disabled-border-color: #a8a8a8;
  --form-disabled-placeholder-color: #838080;

  /*


*/

  --form-field-label-height: #{rem(32)};

  max-width: calc(var(--form-container-width) + var(--form-gutter-width));
  margin: 0 auto;

  &__field-wrapper {
    max-width: calc(var(--form-container-width) + var(--form-gutter-width));
  }

  // display: flex;
  // align-items: stretch;
  // flex-wrap: wrap;

  // &__btn-wrapper {
  //   flex-basis: 100%;
  // }

  // &__submit-btn {
  //   display: block;

  //   &.error {
  //     --border-color: var(--bg-red-20);
  //   }
  // }

  // > *:not(.escape-container) {
  //   // Enforce all
  //   margin-left: calc(var(--form-gutter-width) / 2);
  //   margin-right: calc(var(--form-gutter-width) / 2);
  // }

  // > *:not(.input):not(.checkbox) {
  //   width: 100%;
  // }
}
