.input {
  // Field
  --input-field-margin-bottom: var(--form-field-margin-bottom);
  --input-field-font-size: var(--form-field-font-size);
  --input-field-line-height-size: var(--form-field-line-height);
  --input-field-padding-y: var(--form-field-padding-x);
  --input-field-padding-x: var(--form-field-padding-y);
  --input-field-background-color: var(--form-field-background-color);
  --input-field-text-color: var(--form-field-text-color);
  --input-field-placeholder-text-color: var(
    --form-field-placeholder-text-color
  );
  --input-field-border-color: var(--form-field-border-color);
  --input-field-border-width: var(--form-field-border-width);
  --input-field-border-style: var(--form-field-border-style);
  --input-field-border-radius: var(--form-field-border-radius);
  --input-field-shadow-focus: var(--form-field-shadow-focus);

  // Label
  --input-label-font-size: var(--form-label-font-size);
  --input-label-line-height: var(--form-label-line-height);
  --input-label-height: var(--form-label-height);
  // Status
  --input-error-color: var(--form-error-color);
  --input-success-color: var(--form-success-color);
  // Disabled
  --input-disabled-text-color: var(--form-disabled-text-color);
  --input-disabled-border-color: var(--form-disabled-border-color);
  --input-disabled-placeholder-color: var(--form-disabled-placeholder-color);

  position: relative;
  margin-bottom: var(--input-field-margin-bottom);
  color: var(--input-field-text-color);

  // &.block {
  //   display: block;
  //   --input-width: 100%;
  // }

  @include field-modifiers(input);

  &__label {
    display: block;
    font-size: var(--input-label-font-size);
    line-height: var(--input-label-line-height);
    height: var(--input-label-height);
    color: var(--input-label-color);
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);

    background-color: var(--input-field-background-color);
    border-color: var(--input-field-border-color);
    border-width: var(--input-field-border-width);
    border-style: var(--input-field-border-style);
    border-radius: var(--input-field-border-radius);
    padding-left: var(--input-field-padding-x);
    padding-right: var(--input-field-padding-x);
    padding-top: var(--input-field-padding-y);
    padding-bottom: var(--input-field-padding-y);

    overflow: scroll;
    transition: all 100ms ease-in-out;
    position: relative;
    z-index: 1;

    @include no-scrollbar;

    &:focus-within:not(.readonly) {
      --input-field-border-color: var(--form-field-border-color-focus);
      box-shadow: var(--input-field-shadow-focus);

      &.error {
        // TODO Move these to local props
        --input-border-color: var(--bg-red-40);
        @extend .shadow-red;
      }
    }
  }

  &__prepended-icon,
  &__appended-icon {
    &--clickable {
      cursor: pointer;
    }
  }

  &__field {
    font-size: var(--input-field-font-size);
    line-height: var(--input-field-font-size);
    background-color: unset;
    border: none;
    flex: 1;
    color: var(--input-field-text-color);
    overflow: hidden;

    @include input-placeholder {
      color: var(--input-field-placeholder-text-color);
    }

    @include remove-auto-complete-style {
      -webkit-text-fill-color: var(--input-field-text-color);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__message {
    position: relative;
    // TODO make message vars
    color: var(--input-field-text-color);
    font-size: var(--input-field-font-size);
    line-height: var(--input-field-font-size);
    background-color: var(--input-field-background-color);

    min-width: max-content;

    top: calc($space-md * -1);
    padding-top: calc(var(--input-field-padding-y) * 3);
    padding-bottom: var(--input-field-padding-y);
    padding-left: var(--input-field-padding-x);
    padding-right: var(--input-field-padding-x);

    border-color: var(--input-field-border-color);
    border-width: var(--input-field-border-width);
    border-style: var(--input-field-border-style);

    border-bottom-right-radius: var(--input-field-border-radius);
    border-bottom-left-radius: var(--input-field-border-radius);
    z-index: 0;
  }

  &__success {
    color: var(--input-success-color);
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: $space-md;
    bottom: -5px;
    transform: translateY(100%);
  }
}
