.radio-buttons {
  --radio-width: 24px;
  --radio-border-radius: 50%;
  --radio-background-color: var(--bg-color);
  --radio-border-color: var(--bg-violet-30);
  --radio-error-color: hsl(0, 56%, 47%);
  --radio-success-color: hsl(108, 55%, 47%);
  --radio-text-color: hsl(0, 0%, 87%);
  --radio-label-color: hsl(0, 0%, 87%);
  --radio-placeholder-color: hsl(0, 0%, 60%);
  --radio-message-color: var(--radio-text-color);
  --radio-border-width: 3px;
  --radio-padding-y: #{calc($space-xs)};
  --radio-padding-x: #{$space-md};
  --radio-label-font-size: #{rem(14)};
  --radio-field-font-size: #{rem(18)};
  --radio-message-font-size: #{rem(14)};
  --radio-line-hight-ratio: 1.75;
  --radio-checked-opacity: 0;

  position: relative;
  margin-bottom: $space-lg;

  &__radios {
    display: flex;
    gap: $space-md;
    flex-wrap: wrap;

    &--vertical {
      flex-direction: column;
    }
  }

  &.block {
    width: 100%;
  }

  &.success {
    --input-border-color: var(--input-success-color);
  }

  &.error {
    --radio-border-color: var(--radio-error-color);
  }

  &.disabled {
    --radio-border-color: var(--bg-grey-60);
    --radio-text-color: hsl(0, 0%, 57%);
  }

  &__label {
    margin-bottom: $space-sm;
  }

  .radio {
    display: flex;
    align-items: center;
    gap: $space-sm;

    &__field-wrapper {
      position: relative;
      width: var(--radio-width);
      height: var(--radio-width);
    }

    &__field {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      width: var(--radio-width);
      height: var(--radio-width);
      z-index: 1;

      &:focus {
        + .radio__circle {
          --radio-border-color: var(--bg-violet-60);
          // TODO Move these to local props
          @extend .box-shadow;
          @extend .shadow-1;
          @extend .shadow-white;
        }
      }

      &:checked {
        + .radio__circle {
          --radio-checked-opacity: 1;
          background-color: black;
          transition: background-color 300ms ease-in-out;
        }
      }
    }

    &__circle {
      position: absolute;
      width: var(--radio-width);
      height: var(--radio-width);
      border: var(--radio-border-color) 3px solid;
      border-radius: var(--radio-border-radius);
      z-index: 0;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--radio-width) / 2);
        height: calc(var(--radio-width) / 2);
        background-color: var(--bg-green-30);
        border-radius: 50%;
        opacity: var(--radio-checked-opacity);
        z-index: 3;
        transition: opacity 300ms ease-in-out;
      }
    }

    &__label {
      position: relative;
      margin-right: var(--radio-width);
      width: fit-content;
      color: var(--radio-text-color);
    }
  }
}
