.select {
  --select-field-margin-bottom: var(--form-field-margin-bottom);
  --select-field-font-size: var(--form-field-font-size);
  --select-field-line-height-size: var(--form-field-line-height);
  --select-field-padding-y: var(--form-field-padding-x);
  --select-field-padding-x: var(--form-field-padding-y);

  --select-field-background-color: var(--form-field-background-color);
  --select-field-text-color: var(--form-field-text-color);
  --select-field-placeholder-text-color: var(
    --form-field-placeholder-text-color
  );

  --select-field-border-color: var(--form-field-border-color);
  --select-field-border-width: var(--form-field-border-width);
  --select-field-border-style: var(--form-field-border-style);
  --select-field-border-radius: var(--form-field-border-radius);

  --select-label-font-size: var(--form-label-font-size);
  --select-label-line-height: var(--form-label-line-height);
  --select-label-height: var(--form-label-height);

  --select-field-shadow-focus: var(--form-field-shadow-focus);

  --select-error-color: var(--form-error-color);
  --select-success-color: var(--form-success-color);

  --select-disabled-text-color: var(--form-disabled-text-color);
  --select-disabled-border-color: var(--form-disabled-border-color);
  --select-disabled-placeholder-color: var(--form-disabled-placeholder-color);

  position: relative;
  margin-bottom: var(--select-field-margin-bottom);
  color: var(--select-field-text-color);

  // &.block {
  //   display: block;
  //   --select-width: 100%;
  // }

  @include field-modifiers(select);

  &__label {
    display: block;
    font-size: var(--select-label-font-size);
    line-height: var(--select-label-line-height);
    height: var(--select-label-height);
    color: var(--select-label-color);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    cursor: pointer;

    background-color: var(--select-field-background-color);
    border-color: var(--select-field-border-color);
    border-width: var(--select-field-border-width);
    border-style: var(--select-field-border-style);
    border-radius: var(--select-field-border-radius);
    padding-left: var(--select-field-padding-x);
    padding-right: var(--select-field-padding-x);
    padding-top: var(--select-field-padding-y);
    padding-bottom: var(--select-field-padding-y);

    overflow: hidden;
    transition: all 100ms ease-in-out;
    position: relative;
    z-index: 1;

    &:focus-within:not(.readonly) {
      --select-field-border-color: var(--form-field-border-color-focus);
      box-shadow: var(--select-field-shadow-focus);

      &.error {
        // TODO Move these to local props
        --select-border-color: var(--bg-red-40);
        @extend .shadow-red;
      }
    }
  }

  &__field {
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: var(--select-field-font-size);
    line-height: var(--select-field-font-size);
    color: var(--select-field-text-color);
    flex: 1;

    &--unselected {
      color: var(--select-field-placeholder-text-color);
    }

    @include remove-auto-complete-style {
      -webkit-text-fill-color: var(--select-field-text-color);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__message {
    position: relative;
    // TODO make message vars
    color: var(--select-field-text-color);
    font-size: var(--select-field-font-size);
    line-height: var(--select-field-font-size);
    background-color: var(--select-field-background-color);

    min-width: max-content;

    top: calc($space-md * -1);
    padding-top: calc(var(--select-field-padding-y) * 3);
    padding-bottom: var(--select-field-padding-y);
    padding-left: var(--select-field-padding-x);
    padding-right: var(--select-field-padding-x);

    border-color: var(--select-field-border-color);
    border-width: var(--select-field-border-width);
    border-style: var(--select-field-border-style);

    border-bottom-right-radius: var(--select-field-border-radius);
    border-bottom-left-radius: var(--select-field-border-radius);
    z-index: 0;
  }

  &__success {
    position: absolute;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: $space-md;
    bottom: -0.66rem;
    transform: translateY(100%);
  }
}
