$prefix: checkbox;

.checkbox {
  @include base-field-vars($prefix);
  @include field-vars-with-button($prefix);
  @include field-modifiers(checkbox, false);
  @include field-as-button($prefix, box);

  position: relative;
  margin-bottom: var(--checkbox-margin-bottom);
  display: flex;
  align-items: start;
  gap: 1rem;
}
