.form {
  .input:not(.block) {
    --input-width: #{calc(
        var(--form-container-width) / 2 - var(--form-gutter-width) / 2
      )};
  }
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input {
  --input-width: 300px;
  --input-border-radius: 8px;
  --input-background-color: var(--bg-color);
  --input-border-color: var(--bg-violet-30);
  --input-error-color: hsl(0, 56%, 47%);
  --input-success-color: hsl(108, 55%, 47%);
  --input-text-color: hsl(0, 0%, 87%);
  --input-label-color: hsl(0, 0%, 87%);
  --input-placeholder-color: hsl(0, 0%, 60%);
  --input-message-color: var(--input-text-color);
  --input-border-width: 3px;
  --input-padding-y: #{calc($space-xs)};
  --input-padding-x: #{$space-md};
  --input-label-font-size: #{rem(14)};
  --input-field-font-size: #{rem(18)};
  --input-message-font-size: #{rem(14)};
  --input-line-hight-ratio: 1.75;

  position: relative;
  margin-bottom: $space-sm;
  color: var(--input-text-color);
  display: inline-block;
  flex-basis: var(--input-width);

  &.block {
    display: block;
    --input-width: 100%;
  }

  &.disabled {
    --input-border-color: var(--bg-grey-60);
    --input-text-color: hsl(0, 0%, 57%);
    --input-placeholder-color: hsl(0, 0%, 47%);
  }

  &.error {
    --input-border-color: var(--input-error-color);
    --input-label-color: var(--input-error-color);
  }

  &.success {
    --input-border-color: var(--input-success-color);
    --input-message-color: var(--input-success-color);
  }

  &__label {
    font-size: var(--input-label-font-size);
    line-height: calc(
      var(--input-label-font-size) * var(--input-line-hight-ratio)
    );
    color: var(--input-label-color);
  }

  &__container {
    display: inline-block;
    border: var(--input-border-color) var(--input-border-width) solid;
    border-radius: var(--input-border-radius);
    padding: var(--input-padding-y) var(--input-padding-x);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-sm;
    background-color: var(--input-background-color);
    transition: border 100ms ease-in-out;
    position: relative;
    z-index: 1;

    &:focus-within:not(.readonly) {
      --input-border-color: var(--bg-violet-60);
      // TODO Move these to local props
      @extend .box-shadow;
      @extend .shadow-1;
      @extend .shadow-white;

      &.error {
        --input-border-color: var(--bg-red-40);
        @extend .shadow-red;
      }
    }
  }

  &__prepended-icon,
  &__appended-icon {
    &--clickable {
      cursor: pointer;
    }
  }

  &__field {
    background-color: unset;
    border: none;
    font-size: var(--input-field-font-size);
    flex: 1;
    color: var(--input-text-color);
    line-height: calc(
      var(--input-field-font-size) * var(--input-line-hight-ratio)
    );

    @include input-placeholder {
      color: var(--input-placeholder-color);
    }

    @include remove-auto-complete-style {
      -webkit-text-fill-color: var(--input-text-color);
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__message {
    position: relative;
    font-size: var(--input-message-font-size);
    line-height: calc(
      var(--input-message-font-size) * var(--input-line-hight-ratio)
    );
    color: var(--input-message-color);
    min-width: max-content;
    text-align: end;
    @extend .bg-violet-20;

    top: calc($space-md * -1);
    padding-top: calc($space-sm + $space-md);
    padding-left: $space-md;
    padding-right: $space-md;
    padding-bottom: $space-sm;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    z-index: 0;
  }
}
