.modal {
  --modal-outer-padding: 2rem;
  --modal-inner-padding: 2rem;
  --modal-width: min(78rem, calc(100vw - var(--modal-outer-padding)));

  position: fixed;
  z-index: 900;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: var(--modal-width);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 700;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal__wrapper {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* @include noScrollbar; */
}

.modal__content {
  background-color: #ededed;
  padding: var(--modal-inner-padding);
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.fade-transition-enter {
  opacity: 0;
}
.fade-transition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.fade-transition-exit {
  opacity: 1;
}
.fade-transition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
